---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage={AboutHeroImage}
>
	<p>
		Hi, I'm Alberto Castro, a Data Analyst with a background in Software Engineering and over five years of experience collaborating with international teams across the US and UK.
		My career began in CRM and email development, where I worked daily with PMs, designers, and engineering teams to solve technical problems, structure projects, and deliver high-impact, data-driven components used by thousands of users.
		This experience strengthened my analytical thinking, attention to detail, problem-solving mindset, and my ability to work in global, fast-paced environments.
		Transitioning into data has been a natural evolution for me. Today, I work with SQL, Python, Power BI, Excel and build projects focused on data cleaning, visualization, and insights. I enjoy transforming raw information into something clear, usable, and valuable.
		I'm motivated by learning, building, and contributing to teams that rely on data to drive decisions.
		If you're looking for someone analytical, curious, structured, and committed—I'd love to connect.
	</p>
</Layout>
