---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout title="Contact" description="Lorem ipsum dolor sit amet">
    <section class="contact-section" align="center">
        <div class="contact-card-container"> 

            <div class="info-item-card">
                <span class="icon-card"> 
                </span>
                <div class="text-group-card">
                    <a href="mailto:ajcastro9726@gmail.com">Email</a>
                </div>
            </div>
            <div class="info-item-card">
                <span class="icon-card"> 
                </span>
                <div class="text-group-card">
                    <a href="https://www.linkedin.com/in/alberto-jos%C3%A9-castro-jim%C3%A9nez-80718013a/">LinkedIn</a>
                </div>
            </div>
        </div>
    </section>
</Layout>