---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
import DarkModeToggle from './DarkModeToggle.astro';
---

<header>
	<nav>
		<HeaderLink translate="no" href="/" class="site-title-link"><h2 translate="no">{SITE_TITLE}</h2></HeaderLink>
		<div class="social-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/projects/">Projects</HeaderLink>
			<HeaderLink href="/about/">About</HeaderLink>
			<HeaderLink href="/contact/">Contact</HeaderLink>
			<DarkModeToggle />
		</div>
		<!-- Mobile button -->
  		<button id="menuToggle" class="menu-btn">☰</button>
	</nav>

	<!-- Mobile menu (oculto por defecto) -->
	<div id="mobileMenu" class="mobile-menu" style="display:none;">
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/projects/">Projects</HeaderLink>
		<HeaderLink href="/about/">About</HeaderLink>
		<HeaderLink href="/contact/">Contact</HeaderLink>
		<DarkModeToggle />
	</div>
</header>
<script>
  const btn = document.getElementById("menuToggle");
  const menu = document.getElementById("mobileMenu");

  btn.addEventListener("click", () => {
    menu.style.display = menu.style.display === "none" ? "flex" : "none";
  });
</script>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: var(--color-block-bg);
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
		font-weight: bold;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none !important;
		font-weight: bold;
	}
	nav a.active {
		border-bottom-color: var(--accent) !important;
		font-weight: bold;
	}
	.site-title-link {
		border-bottom: 0 !important; 
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (min-width: 340px ) and (max-width: 720px) {
		.logo-img {
			display: block !important; /* Forzar que se muestre, anulando cualquier posible display: none */
			height: 40px; /* Reducir un poco el tamaño para móvil si es necesario */
		}
		header {
			padding: 0 0.5em; 
			box-shadow: none; 
		}

		nav {
			width: 90%; 
			align-items: flex-start; 
		}
		
		h2 {
			margin-right: 0.5em; 
			font-size: 0.7em;
		}

		nav a {
			padding: 1em 0.3em; 
			border-bottom-width: 2px;
			font-size: 0.7em;
			justify-content: center;
			line-height: 3.2em;
			vertical-align: bottom;
			text-decoration: none !important;
		}
		a:-webkit-any-link {
		text-decoration: none !important;
		}
		.social-links {
			margin-left: 0.5em;
			display:none;
		}
	}
</style>
