---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
import DarkModeToggle from './DarkModeToggle.astro';
---

<header>
	<nav>
		<HeaderLink href="/"><h2 translate="no">{SITE_TITLE}</h2></HeaderLink>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/projects/">Projects</HeaderLink>
			<HeaderLink href="/about/">About</HeaderLink>
		</div>
		<div class="social-links">
			<DarkModeToggle />
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: var(--color-block-bg);
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (min-width: 340px ) and (max-width: 720px) {
		header {
			padding: 0 0.5em; 
			box-shadow: none; 
		}

		nav {
			width: 100%; 
			align-items: flex-start; 
		}
		
		h2 {
			margin-right: 0.5em; 
			font-size: 0.7em;
		}

		nav a {
			padding: 1em 0.3em; 
			border-bottom-width: 2px;
			font-size: 0.7em;
			justify-content: center;
			line-height: 3.2em;
		}
		
		.social-links {
			margin-left: 0.5em;
		}
	}
</style>
